<header class="header">
  <nav class="links-center">
    <ul class="nav-list">
      <li><a class="nav-option" href="/">Home</a></li>
      <li><a class="nav-option" href="/games">Games</a></li>
      <li><a class="nav-option" href="/races">Races</a></li>
    </ul>
  </nav>
</header>