  <div class="races-container">
    <% races.forEach(race => { %>
    <div class="race-card">
      <h2><%= race.name  %></h2>
      <p>Homeland: <%= race.homeland %></p>
      <p>Type: <%= race.type %></p>
      <a href="/races/<%= race.id %>">Read more</a>
    </div>
    <% }); %>
  </div>